<html lang="en">
    <head>
    	<meta charset="utf-8">
    	<title>Locaudio</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="">
        <style type="text/css">

            body {
                padding-top: 100px;
                padding-bottom: 40px;
            }
            .container-narrow {
                margin: 0 auto;
                max-width: 600px;
            }

        </style>
        <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/imgs/favicon.ico" type="image/x-icon">
    	<!-- Le Bootstrap styles -->
        <link
        href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
        rel="stylesheet">
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js">
        </script>
    </head>
    <body>
        <div id="myNavbar" class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="http://github.com/wallarelvo/locaudio">
                    &nbsp;&nbsp; Locaudio
                </a>
                <ul class="nav">
                    <li>
                    <a href="/">Home</a>
                    </li>
                    <li>
                    <a href="/upload">Upload</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-narrow">

            <div class="hero-unit">
                <h2 class="brand">Sounds</h2>
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Events</th>
                    </tr>
                    {% for name, n_of_e in name_data %}
                    <tr>
                        <td><a href="/viewer/{{ name }}">{{ name }}</a></td>
                        <td>{{ n_of_e }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>
